.started {
  max-width: 1000px;
  margin: 100px auto 70px;
  border-radius: 30px;
  background-color: #fbfbfb;
  padding: 60px 20px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 80px;
  *:not(img) {
    position: relative;
    z-index: 100;
  }
  &-comment {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  &-smile {
    position: absolute;
    top: 0;
    right: 0;
  }
  &-caption {
    margin-top: 50px;
  }
  &-heading {
    margin-bottom: 50px;
  }
  &-desc {
    max-width: 235px;
    line-height: 1.5;
    margin-bottom: 50px;
  }
  @media screen and (max-width: 767px) {
    &-comment,
    &-smile {
      max-width: 30%;
    }
    &-desc {
      margin-bottom: 30px;
    }
  }
}
// .started {
//     max-width: 1000px;
//     margin: 100px auto 70px;
//     background-color: #fbfbfb;
//     padding: 60px 20px;
//     text-align: center;
//     position: relative;
//     margin-bottom: 80px;
//     &-comment {
//         bottom: 0;
//         left: 0;
//         position: absolute;

//     }
//     &-smile {
//         top: 0;
//         right: 0;
//         position: absolute;

//     }
//     &-heading {
//         margin-bottom: 50px;
//     }
//     &-desc {
//         width: 250px;
//         margin: 0 auto 60px;
//         line-height: 1.8;
//         color: $gray-dark;
//     }
// }
